.navbar a {
    color: white;
}

.table-labels td {
    font-weight: bold;
}

#menu-items, #edit-menu-items, #cart {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#success-msg {
    color: green;
    font-weight: bold;
}

#notification-msg {
    display: none;
    color: grey;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}